<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://kit.fontawesome.com/5d38f6ea9c.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{loginNavbar :: navbar}"></div>
<div class="container-fluid full-height">
    <div class="row full-height">
        <div th:insert="~{sidebar :: navbar}" class="col-md-3 col-lg-2 sidebar bg-white border-end"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 full-height">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1">
                <h1 class="h2">Patients Management</h1>
            </div>
            <div class="row">
                <div class = "col pb-1">
                    <a th:href="@{/patients/create}" class="btn btn-primary">Add Patient</a>
                </div>
                <table class="table table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr th:each="patient : ${patients}">
                        <td th:text="${patient.firstname}"></td>
                        <td th:text="${patient.lastname}"></td>
                        <td th:text="${patient.gender}"></td>
                        <td th:text="${patient.phone}"></td>
                        <td th:text="${patient.email}"></td>
                        <td>
                            <a th:href = "@{/patients/update/{id}(id=${patient.id})}"  class="btn btn-primary text-light">
                                Edit
                            </a>
                            <a th:href = "@{/patients/delete/{id}(id=${patient.id})}" class="btn btn-danger">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
</body>
</html>
